<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.freshdev.io/assets/app-client@2.js"></script>
  <link rel="stylesheet" href="../styles/modal.css">
</head>

<body>


  <div class="loadingSpinner" id="loadingSpinner"></div>
  <div id="rootDiv">

  </div>


  <!-- Contenedor para la lista de órdenes -->
  <main id="order-list-container" class="order-container-flex">
    <!-- Las órdenes se insertarán aquí dinámicamente -->
  </main>






</body>
<script async type="module"
  src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.esm.js"></script>
<script async nomodule src="https://cdn.jsdelivr.net/npm/@freshworks/crayons@v4/dist/crayons/crayons.js"></script>
<script src="../scripts/modal.js"></script>

</html>